body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h4{
  background-color: #1b0066af;
  color: white;
  padding: 10px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 30vh;
  background-color: #1b0066af;
  color: white;
  padding: 10px;
  border: 1px solid #ccc;
  margin :10px;
}


button{
  background-color: #1b0066af;
  color: white;
  padding: 10px;
  border: 1px solid #ccc;
  margin :10px;
}
table {
  width: 100vw;
  border-collapse: collapse; 
}
table, th, td {
  border: 1px solid #ccc; 
}

th, td {
  padding: 5px; 
}

.column1 {
  width: 30%; 
}

.column2 {
  width: 70%; 
}